/*  your css code here. If applicable */
/* body {
	background-color: black;
	display: flex;
	justify-content: center;
	justify-items: center;
}

.container {
	display: grid;
	gap: 2px;
	grid-template-columns: repeat(40, 1fr);
	grid-template-rows: repeat(25, 1fr)
}

.square {
	background-color: gray;
	height: 20px;
	width: 20px;
	transition: background-color 1s ease;
} */

body {
	background-color: black;
}
.container {
	display: grid;
	grid-template-columns: repeat(40,30px);
	gap: 2px;
}

.square {
	height:30px;
	width:30px;
	background-color: rgb(29, 29, 29);
}


